<div class="lg:flex flex-row lg:mx-10 lg:mt-24 lg:w-[90vw] my-20">
  <div class="text-center lg:w-1/2 lg:mt-40">
    <h1>Class Attendance Management System</h1>
    <p>
      CAMS helps you keep track of your class attendance and maintain a good
      score!
    </p>
  </div>

  <div
    class="mt-5 p-5 mx-auto w-[75vw] sm:w-[80vw] md:w-[60vw] lg:w-[40vw] text-center bg-white rounded shadow"
  >
    <h1>LOGIN</h1>
    <hr class="my-4 mt-0 w-50 mx-auto" />
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <!-- Admission Number Field -->
      <div class="mb-3 relative">
        <input
          type="text"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          [ngClass]="{
            'border-danger': admissionNumber.invalid && admissionNumber.touched
          }"
          placeholder="Admission Number"
          ngModel
          name="admissionNumber"
          required
          minlength="4"
          #admissionNumber="ngModel"
        />
        <!-- Validation Error Messages -->
        <div
          *ngIf="admissionNumber.invalid && admissionNumber.touched"
          class="text-red-500 text-sm mt-1 text-left"
        >
          <small *ngIf="admissionNumber.errors?.['required']">
            Admission number is required!
          </small>
          <small *ngIf="admissionNumber.errors?.['minlength']">
            Admission number must be at least 4 characters long!
          </small>
        </div>
      </div>

      <!-- Password Field -->
      <div class="mb-3 relative">
        <input
          type="password"
          class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
          [ngClass]="{ 'border-danger': password.invalid && password.touched }"
          placeholder="Password"
          ngModel
          name="password"
          required
          minlength="6"
          #password="ngModel"
        />
        <!-- Validation Error Messages -->
        <div
          *ngIf="password.invalid && password.touched"
          class="text-red-500 text-sm mt-1 text-left"
        >
          <small *ngIf="password.errors?.['required']">
            Password is required!
          </small>
          <small *ngIf="password.errors?.['minlength']">
            Password must be at least 6 characters long!
          </small>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="mt-4">
        <button
          type="submit"
          class="bg-blue-500 text-white px-4 py-2 w-50 rounded"
          [ngClass]="{ 'cursor-not-allowed opacity-50': loginForm.invalid }"
          [disabled]="loginForm.invalid"
        >
          LOGIN
        </button>
      </div>
    </form>
    <div class="mt-4">
      <a
        [routerLink]="['/register']"
        class="text-blue-500 hover:text-blue-600 text-decoration-none"
      >
        Register Here
      </a>
    </div>
  </div>
</div>
