<div class="mt-5 p-5 mx-auto w-[75vw] sm:w-[80vw] md:w-[60vw] lg:w-[40vw] text-center bg-white rounded shadow">
    <h1>REGISTER</h1>
    <hr class="w-50 mx-auto mt-0 my-4" />
    <form [formGroup]="registerDetailsForm" (ngSubmit)="submit()">
      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="admissionNumber"
          class="form-control"
          id="floatingInput"
          placeholder="Admission Number"
          [ngClass]="{'is-invalid': fieldIsInvalid('admissionNumber')}"
        />
        <label for="floatingInput">Admission Number</label>
        <div *ngIf="fieldIsInvalid('admissionNumber')" class="invalid-feedback">
          Please enter a valid admission number!
        </div>
      </div>
  
      <div class="form-floating mb-3">
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          [ngClass]="{'is-invalid': fieldIsInvalid('password')}"
        />
        <label for="floatingPassword">Password</label>
        <div *ngIf="fieldIsInvalid('password')" class="invalid-feedback">
          Password is required!
        </div>
      </div>
  
      <div id="register" class="registerbtn">
        <button 
        type="submit" 
        class="bg-blue-500 mt-4 text-white px-4 py-2 w-50 rounded" 
        [ngClass]="{ 'cursor-not-allowed opacity-50': registerDetailsForm.invalid}"
        [disabled]="registerDetailsForm.invalid">
          REGISTER
        </button>
      </div>
    </form>
  </div>
  