.container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  .registerbtn {
    display: flex;
    justify-content: center;
    cursor: not-allowed;
    margin-top: 10px;
  }

  .is-invalid {
    border-color: red !important;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25);
  }